[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "contourPlot"]
	path = contourPlot
	url = https://github.com/cran/contourPlot
	shallow = true
	registered = true
